/*Google fonts import code*/

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Nunito:wght@300&display=swap');

/*CSS Variables*/

:root {

  --primary-font: "Funnel Sans", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --primary-color: #4b5a3c; 
  --secondary-color: #3a2620;
  --hightlight-color: #db4995ce;
  --light-highlight-color: #f3e1c6; 

}

/*Global styles*/

.section {
  padding-top: 4px
}

h2,
h4 {
  color: var(--primary-color);
}
/*buttons*/

.custom-button-outline {
  border: 1px solid var(--primary-color);
  color: #ffffff;
  background-color: var(--primary-color);
}

.custom-button-outline:hover {
  background-color: var(--light-highlight-color);
  color: var(--primary-color);
  border: var(--primary-color);

}

/*Navbar*/

#navbar {
  background-color: var(--light-highlight-color);
  text-transform: uppercase;
}

.nav-item {
  color: var(--primary-color);
}

#navbar-title {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--primary-color);
}

/*Hero image*/

#hero {
  width: 100%;
  height: 50%;
  }

/*Service cards*/

.cards {
  padding: 4px;
  
}







/*Media Queries*/

/*Media Queries for small mobiles (320px+)*/

@media screen and (max-width:320px) {

  #logo {
    width: 60px;
    height: 60px;
  }


}

/*Media queries for large mobiles (425px+)*/

@media screen and (min-width:425px) {

  #navbar {
    padding-right: 15px;
  }

  #navbar-title {
    font-size: 1.2rem;
  }
  
}


/*Media queries for tablets(768px+)*/

@media screen and (min-width:768px) {
  
  #navbar {
    padding-right: 75px;
  }
  
  #navbar-title {
    font-size: 2.5rem;
    margin-top: 2px;
    
  }
}

/*Media queries for XL devices*/ 

@media screen and (min-width:1200px) {

  #hero {
    width: 100%;
    height: 25rem;
  }

}